<section class="section" id="contacts">
  <div class="container">
    <div class="title-wrapper">
      <h2 class="section-title form-section-title">
        Order your unique jewelry
      </h2>
      <h3 class="section-subtitle">Connect</h3>
    </div>
    <p class="section-paragraph">We'd love to hear more details from you!</p>
    <div class="contacts-wrapper">
      <address class="address-wrapper">
        <ul class="contacts-list">
          <li class="contact-item">
            <svg class="contacts-svg" width="32" height="32" aria-hidden="true">
              <use href="/images/sprite.svg#icon-envelope"></use>
            </svg>
            <p class="contact-label">Email</p>
            <a
              class="contact-link"
              href="mailto:info@handmadejewelry.com"
              rel="noopener noreferrer"
              >info@handmadejewelry.com</a
            >
          </li>

          <li class="contact-item">
            <svg class="contacts-svg" width="32" height="32" aria-hidden="true">
              <use href="/images/sprite.svg#icon-phone"></use>
            </svg>
            <p class="contact-label">Phone</p>
            <a
              class="contact-link"
              href="tel:+15550000000"
              rel="noopener noreferrer"
              >+1 (555) 000-0000</a
            >
          </li>

          <li class="contact-item">
            <svg class="contacts-svg" width="32" height="32" aria-hidden="true">
              <use href="/images/sprite.svg#icon-map"></use>
            </svg>
            <p class="contact-label">Office</p>
            <a
              class="contact-link"
              href="https://maps.app.goo.gl/D5tV2LWRM2f5fymj7"
              target="_blank"
              rel="noopener noreferrer"
              >76-8 Oakington Manor Dr, London, UK</a
            >
          </li>
        </ul>
      </address>

      <form class="contact-form">
        <div class="contact-form-field-wrapper">
          <label class="contact-form-field-label" for="user-name">Name* </label>
          <input
            class="contact-form-field-input name-input"
            id="user-name"
            type="text"
            name="user-name"
            placeholder="Tony"
            pattern="^[a-zA-Z\s\.]{5,28}$"
            required
          />
          <span class="error-message">Error Text</span>
        </div>
        <div class="contact-form-field-wrapper">
          <label class="contact-form-field-label" for="user-tel">Phone*</label>
          <input
            class="contact-form-field-input tel-input"
            id="user-tel"
            type="tel"
            name="user-tel"
            placeholder="+1 234 123 23"
            pattern="^\+[0-9\s]{14}$"
            required
          />
          <span class="error-message">Please enter a valid phone number</span>
        </div>
        <div class="contact-form-field-wrapper">
          <label class="contact-form-field-label" for="user-message"
            >Describe what you want</label
          >
          <textarea
            class="contact-form-field-message"
            name="user-message"
            id="user-message"
            placeholder="Type your message..."
            maxlength="500"
            required
          ></textarea>
        </div>
        <button class="submit-form-button" type="submit">Submit</button>
      </form>
    </div>
  </div>
</section>
