<footer>
  <div class="container">
    <div class="footer-wrapper">
      <div class="icon-footer-group">
        <a href="index.html" class="logo-link" aria-label="Go to homepage">
          <svg class="logo-icon">
            <use href="/images/sprite.svg#icon-logo" />
          </svg>
        </a>
        <ul class="socials-list">
          <li class="socials-item">
            <a
              href="https://www.facebook.com/"
              class="socials-link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Visit our Facebook page"
            >
              <svg class="socials-icon">
                <use href="/images/sprite.svg#icon-facebook" />
              </svg>
            </a>
          </li>
          <li class="socials-item">
            <a
              href="https://www.instagram.com/"
              class="socials-link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Visit our Instagram page"
            >
              <svg class="socials-icon">
                <use href="/images/sprite.svg#icon-instagram" />
              </svg>
            </a>
          </li>
          <li class="socials-item">
            <a
              href="https://x.com/"
              class="socials-link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Visit our X page"
            >
              <svg class="socials-icon">
                <use href="/images/sprite.svg#icon-space-X" />
              </svg>
            </a>
          </li>
          <li class="socials-item">
            <a
              href="https://www.linkedin.com/"
              class="socials-link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Visit our LinkedIn page"
            >
              <svg class="socials-icon">
                <use href="/images/sprite.svg#icon-linkedin" />
              </svg>
            </a>
          </li>
          <li class="socials-item">
            <a
              href="https://www.youtube.com/"
              class="socials-link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Visit our You-Tube page"
            >
              <svg class="socials-icon">
                <use href="/images/sprite.svg#icon-youtube" />
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="nav-wrapper">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#about" class="nav-link">About us</a>
          </li>
          <li class="nav-item">
            <a href="#benefits" class="nav-link">Benefits</a>
          </li>
          <li class="nav-item">
            <a href="#gallery" class="nav-link">Gallery</a>
          </li>
          <li class="nav-item">
            <a href="#testimonials" class="nav-link">Testimonials</a>
          </li>
          <li class="nav-item">
            <a href="#contacts" class="nav-link">Contacts</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="policy-wrapper">
      <p class="privacy-policy-text">
        &copy; 2025 Handmade Jewelry. All rights reserved.
      </p>
    </div>
  </div>
</footer>
