<section class="section" id="gallery">
  <div class="container">
    <h2 class="showcase-title">Jewelry Showcase</h2>
    <p class="showcase-description">
      Discover the beauty of our handcrafted jewelry in style.
    </p>
    <ul class="photo-gallery">
      <li>
        <picture>
          <source
            srcset="
              ../images/showcase-1-desctop@2x.jpeg 2x,
              ../images/showcase-1-desctop.jpeg    1x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ../images/showcase-1-tablet@2x.jpeg 2x,
              ../images/showcase-1-tablet.jpeg    1x
            "
            media="(min-width:768px)"
          />
          <img
            srcset="../images/showcase-1-mobile@2x.jpeg"
            src="../images/showcase-1-mobile.jpeg"
            alt="beaded necklace"
            width="335"
            height="335"
            class="beaded-size"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ../images/showcase-2-desctop@2x.jpeg 2x,
              ../images/showcase-2-desctop.jpeg    1x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ../images/showcase-2-tablet@2x.jpeg 2x,
              ../images/showcase-2-tablet.jpeg    1x
            "
            media="(min-width:768px)"
          />
          <img
            srcset="../images/showcase-2-mobile@2x.jpeg"
            src="../images/showcase-2-mobile.jpeg"
            alt="pendant"
            width="335"
            height="335"
            class="pendant-size"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ../images/showcase-3-desctop@2x.jpeg 2x,
              ../images/showcase-3-desctop.jpeg    1x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ../images/showcase-3-tablet@2x.jpeg 2x,
              ../images/showcase-3-tablet.jpeg    1x
            "
            media="(min-width:768px)"
          />
          <img
            srcset="../images/showcase-3-mobile@2x.jpeg"
            src="../images/showcase-3-mobile.jpeg"
            alt="bracelet"
            width="335"
            height="335"
            class="bracelet-size"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ../images/showcase-4-desctop@2x.jpeg 2x,
              ../images/showcase-4-desctop.jpeg    1x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ../images/showcase-4-tablet@2x.jpeg 2x,
              ../images/showcase-4-tablet.jpeg    1x
            "
            media="(min-width:768px)"
          />
          <img
            srcset="../images/showcase-4-mobile@2x.jpeg"
            src="../images/showcase-4-mobile.jpeg"
            alt="earrings"
            width="335"
            height="335"
            class="earrings-size"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
