<section class="section" id="gallery">
  <div class="container">
    <h2 class="showcase-title">Jewelry Showcase</h2>
    <p class="showcase-description">
      Discover the beauty of our handcrafted jewelry in style.
    </p>
    <ul class="photo-gallery">
      <li>
        <picture>
          <source
            type="image/avif"
            srcset="
              ../images/avif/showcase/showcase-1-desktop@2x.avif 2x,
              ../images/avif/showcase/showcase-1-desktop.avif    1x
            "
            media="(min-width:1440px)"
          />
          <source
            type="image/avif"
            srcset="
              ../images/avif/showcase/showcase-1-tablet@2x.avif 2x,
              ../images/avif/showcase/showcase-1-tablet.avif    1x
            "
            media="(min-width:768px)"
          />
          <source
            type="image/avif"
            srcset="
              ../images/avif/showcase/showcase-1-mobile@2x.avif 2x,
              ../images/avif/showcase/showcase-1-mobile.avif    1x
            "
          />

          <source
            type="image/webp"
            srcset="
              ../images/webp/showcase/showcase-1-desktop@2x.webp 2x,
              ../images/webp/showcase/showcase-1-desktop.webp    1x
            "
            media="(min-width:1440px)"
          />
          <source
            type="image/webp"
            srcset="
              ../images/webp/showcase/showcase-1-tablet@2x.webp 2x,
              ../images/webp/showcase/showcase-1-tablet.webp    1x
            "
            media="(min-width:768px)"
          />
          <source
            type="image/webp"
            srcset="
              ../images/webp/showcase/showcase-1-mobile@2x.webp 2x,
              ../images/webp/showcase/showcase-1-mobile.webp    1x
            "
          />

          <source
            srcset="
              ../images/jpeg/showcase/showcase-1-desktop@2x.jpeg 2x,
              ../images/jpeg/showcase/showcase-1-desktop.jpeg    1x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ../images/jpeg/showcase/showcase-1-tablet@2x.jpeg 2x,
              ../images/jpeg/showcase/showcase-1-tablet.jpeg    1x
            "
            media="(min-width:768px)"
          />
          <img
            srcset="../images/jpeg/showcase/showcase-1-mobile@2x.jpeg 2x"
            src="../images/jpeg/showcase/showcase-1-mobile.jpeg"
            alt="beaded necklace"
            width="335"
            height="335"
            class="beaded-size"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            type="image/avif"
            srcset="
              ../images/avif/showcase/showcase-2-desktop@2x.avif 2x,
              ../images/avif/showcase/showcase-2-desktop.avif    1x
            "
            media="(min-width:1440px)"
          />
          <source
            type="image/avif"
            srcset="
              ../images/avif/showcase/showcase-2-tablet@2x.avif 2x,
              ../images/avif/showcase/showcase-2-tablet.avif    1x
            "
            media="(min-width:768px)"
          />
          <source
            type="image/avif"
            srcset="
              ../images/avif/showcase/showcase-2-mobile@2x.avif 2x,
              ../images/avif/showcase/showcase-2-mobile.avif    1x
            "
          />

          <source
            type="image/webp"
            srcset="
              ../images/webp/showcase/showcase-2-desktop@2x.webp 2x,
              ../images/webp/showcase/showcase-2-desktop.webp    1x
            "
            media="(min-width:1440px)"
          />
          <source
            type="image/webp"
            srcset="
              ../images/webp/showcase/showcase-2-tablet@2x.webp 2x,
              ../images/webp/showcase/showcase-2-tablet.webp    1x
            "
            media="(min-width:768px)"
          />
          <source
            type="image/webp"
            srcset="
              ../images/webp/showcase/showcase-2-mobile@2x.webp 2x,
              ../images/webp/showcase/showcase-2-mobile.webp    1x
            "
          />

          <source
            srcset="
              ../images/jpeg/showcase/showcase-2-desktop@2x.jpeg 2x,
              ../images/jpeg/showcase/showcase-2-desktop.jpeg    1x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ../images/jpeg/showcase/showcase-2-tablet@2x.jpeg 2x,
              ../images/jpeg/showcase/showcase-2-tablet.jpeg    1x
            "
            media="(min-width:768px)"
          />
          <img
            srcset="../images/jpeg/showcase/showcase-2-mobile@2x.jpeg 2x"
            src="../images/jpeg/showcase/showcase-2-mobile.jpeg"
            alt="pendant"
            width="335"
            height="335"
            class="pendant-size"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            type="image/avif"
            srcset="
              ../images/avif/showcase/showcase-3-desktop@2x.avif 2x,
              ../images/avif/showcase/showcase-3-desktop.avif    1x
            "
            media="(min-width:1440px)"
          />
          <source
            type="image/avif"
            srcset="
              ../images/avif/showcase/showcase-3-tablet@2x.avif 2x,
              ../images/avif/showcase/showcase-3-tablet.avif    1x
            "
            media="(min-width:768px)"
          />
          <source
            type="image/avif"
            srcset="
              ../images/avif/showcase/showcase-3-mobile@2x.avif 2x,
              ../images/avif/showcase/showcase-3-mobile.avif    1x
            "
          />

          <source
            srcset="
              ../images/webp/showcase/showcase-3-desktop@2x.webp 2x,
              ../images/webp/showcase/showcase-3-desktop.webp    1x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ../images/webp/showcase/showcase-3-tablet@2x.webp 2x,
              ../images/webp/showcase/showcase-3-tablet.webp    1x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../images/webp/showcase/showcase-3-mobile@2x.webp 2x,
              ../images/webp/showcase/showcase-3-mobile.webp    1x
            "
          />

          <source
            srcset="
              ../images/jpeg/showcase/showcase-3-desktop@2x.jpeg 2x,
              ../images/jpeg/showcase/showcase-3-desktop.jpeg    1x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ../images/jpeg/showcase/showcase-3-tablet@2x.jpeg 2x,
              ../images/jpeg/showcase/showcase-3-tablet.jpeg    1x
            "
            media="(min-width:768px)"
          />
          <img
            srcset="../images/jpeg/showcase/showcase-3-mobile@2x.jpeg 2x"
            src="../images/jpeg/showcase/showcase-3-mobile.jpeg"
            alt="bracelet"
            width="335"
            height="335"
            class="bracelet-size"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            type="image/avif"
            srcset="
              ../images/avif/showcase/showcase-4-desktop@2x.avif 2x,
              ../images/avif/showcase/showcase-4-desktop.avif    1x
            "
            media="(min-width:1440px)"
          />
          <source
            type="image/avif"
            srcset="
              ../images/avif/showcase/showcase-4-tablet@2x.avif 2x,
              ../images/avif/showcase/showcase-4-tablet.avif    1x
            "
            media="(min-width:768px)"
          />
          <source
            type="image/avif"
            srcset="
              ../images/avif/showcase/showcase-4-mobile@2x.avif 2x,
              ../images/avif/showcase/showcase-4-mobile.avif    1x
            "
          />

          <source
            srcset="
              ../images/webp/showcase/showcase-4-desktop@2x.webp 2x,
              ../images/webp/showcase/showcase-4-desktop.webp    1x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ../images/webp/showcase/showcase-4-tablet@2x.webp 2x,
              ../images/webp/showcase/showcase-4-tablet.webp    1x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../images/webp/showcase/showcase-4-mobile@2x.webp 2x,
              ../images/webp/showcase/showcase-4-mobile.webp    1x
            "
          />

          <source
            srcset="
              ../images/jpeg/showcase/showcase-4-desktop@2x.jpeg 2x,
              ../images/jpeg/showcase/showcase-4-desktop.jpeg    1x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              ../images/jpeg/showcase/showcase-4-tablet@2x.jpeg 2x,
              ../images/jpeg/showcase/showcase-4-tablet.jpeg    1x
            "
            media="(min-width:768px)"
          />
          <img
            srcset="../images/jpeg/showcase/showcase-4-mobile@2x.jpeg 2x"
            src="../images/jpeg/showcase/showcase-4-mobile.jpeg"
            alt="earrings"
            width="335"
            height="335"
            class="earrings-size"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
