<section class="testimonials-section">
  <div class="container">
    <h2 class="testimonials-title">Customer testimonials</h2>
    <p class="testimonials-text">
      Absolutely love my new earrings! They are stunning.
    </p>
    <ul class="testimonials-list">
      <li class="testimonial-item">
        <picture class="">
          <source srcset="" />
          <img src="" alt="photo of a handmade earring" />
        </picture>
        <picture>
          <source srcset="" />
          <img src="" alt="photo of a handmade pendant" />
        </picture>
        <div class="testimonials-wrapper">
          <div class="testimonials-stars"></div>
          <p class="testimonials-review">
            "Each piece tells a story, and I love mine!"
          </p>
          <p class="testimonials-author">Thomas Mans</p>
        </div>
      </li>
      <li class="testimonial-item">
        <picture>
          <source srcset="" />
          <img src="" alt="photo of a handmade bracelet" />
        </picture>
        <picture>
          <source srcset="" />
          <img src="" alt="photo of a handmade ring" />
        </picture>
        <div class="testimonials-wrapper">
          <div class="testimonials-stars"></div>
          <p class="testimonials-review">
            "The craftsmanship is exquisite, and I feel unique wearing it."
          </p>
          <p class="testimonials-author">Jane Edison</p>
        </div>
      </li>
    </ul>
  </div>
</section>
