<section class="section testimonials-section" id="testimonials">
  <div class="container">
    <h2 class="testimonials-title">Customer testimonials</h2>
    <p class="testimonials-text">
      Absolutely love my new earrings! They are stunning.
    </p>
    <ul class="testimonials-list">
      <li class="testimonial-item">
        <picture>
          <!-- Desktop -->
          <source
            srcset="
              /images/avif/testimonials/testimonials-1-desktop.avif    1x,
              /images/avif/testimonials/testimonials-1-desktop@2x.avif 2x
            "
            media="(min-width: 1440px)"
            type="image/avif"
          />
          <source
            srcset="
              /images/webp/testimonials/testimonials-1-desktop.webp    1x,
              /images/webp/testimonials/testimonials-1-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="
              /images/jpeg/testimonials/testimonials-1-desktop.jpeg    1x,
              /images/jpeg/testimonials/testimonials-1-desktop@2x.jpeg 2x
            "
            media="(min-width: 1440px)"
          />
          <!-- Tablet -->
          <source
            srcset="
              /images/avif/testimonials/testimonials-1-tablet.avif    1x,
              /images/avif/testimonials/testimonials-1-tablet@2x.avif 2x
            "
            media="(min-width: 768px)"
            type="image/avif"
          />
          <source
            srcset="
              /images/webp/testimonials/testimonials-1-tablet.webp    1x,
              /images/webp/testimonials/testimonials-1-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              /images/jpeg/testimonials/testimonials-1-tablet.jpeg    1x,
              /images/jpeg/testimonials/testimonials-1-tablet@2x.jpeg 2x
            "
            media="(min-width: 768px)"
          />

          <!-- Mobile -->
          <source
            srcset="
              /images/avif/testimonials/testimonials-1-mobile.avif    1x,
              /images/avif/testimonials/testimonials-1-mobile@2x.avif 2x
            "
            media="(max-width: 767px)"
            type="image/avif"
          />
          <source
            srcset="
              /images/webp/testimonials/testimonials-1-mobile.webp    1x,
              /images/webp/testimonials/testimonials-1-mobile@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <img
            srcset="
              /images/jpeg/testimonials/testimonials-1-mobile@2x.jpeg 2x
            "
            src="/images/jpeg/testimonials/testimonials-1-mobile.jpeg"
            alt="photo of a handmade earring"
          />
        </picture>
        <picture>
          <!-- Desktop -->
          <source
            srcset="
              /images/avif/testimonials/testimonials-2-desktop.avif    1x,
              /images/avif/testimonials/testimonials-2-desktop@2x.avif 2x
            "
            media="(min-width: 1440px)"
            type="image/avif"
          />
          <source
            srcset="
              /images/webp/testimonials/testimonials-2-desktop.webp    1x,
              /images/webp/testimonials/testimonials-2-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="
              /images/jpeg/testimonials/testimonials-2-desktop.jpeg    1x,
              /images/jpeg/testimonials/testimonials-2-desktop@2x.jpeg 2x
            "
            media="(min-width: 1440px)"
          />
          <!-- Tablet -->
          <source
            srcset="
              /images/avif/testimonials/testimonials-2-tablet.avif    1x,
              /images/avif/testimonials/testimonials-2-tablet@2x.avif 2x
            "
            media="(min-width: 768px)"
            type="image/avif"
          />
          <source
            srcset="
              /images/webp/testimonials/testimonials-2-tablet.webp    1x,
              /images/webp/testimonials/testimonials-2-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              /images/jpeg/testimonials/testimonials-2-tablet.jpeg    1x,
              /images/jpeg/testimonials/testimonials-2-tablet@2x.jpeg 2x
            "
            media="(min-width: 768px)"
          />

          <!-- Mobile -->
          <source
            srcset="
              /images/avif/testimonials/testimonials-2-mobile.avif    1x,
              /images/avif/testimonials/testimonials-2-mobile@2x.avif 2x
            "
            media="(max-width: 767px)"
            type="image/avif"
          />
          <source
            srcset="
              /images/webp/testimonials/testimonials-2-mobile.webp    1x,
              /images/webp/testimonials/testimonials-2-mobile@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <img
            srcset="
              /images/jpeg/testimonials/testimonials-2-mobile@2x.jpeg 2x
            "
            src="/images/jpeg/testimonials/testimonials-2-mobile.jpeg"
            alt="photo of a handmade earring"
          />
        </picture>
        <div class="testimonials-wrapper">
          <div class="testimonials-stars">
            <svg width="24" height="24" class="testimonials-icon">
              <use href="/images/sprite.svg#icon-star-fill"></use>
            </svg>
            <svg width="24" height="24" class="testimonials-icon">
              <use href="/images/sprite.svg#icon-star-fill"></use>
            </svg>
            <svg width="24" height="24" class="testimonials-icon">
              <use href="/images/sprite.svg#icon-star-fill"></use>
            </svg>
            <svg width="24" height="24" class="testimonials-icon">
              <use href="/images/sprite.svg#icon-star-fill"></use>
            </svg>
            <svg width="24" height="24" class="testimonials-icon">
              <use href="/images/sprite.svg#icon-star"></use>
            </svg>
          </div>
          <p class="testimonials-review">
            "Each piece tells a story, and I love mine!"
          </p>
          <p class="testimonials-author">Thomas Mans</p>
        </div>
      </li>
      <li class="testimonial-item">
        <div class="testimonials-wrapper">
          <div class="testimonials-stars">
            <svg width="24" height="24" class="testimonials-icon">
              <use href="/images/sprite.svg#icon-star-fill"></use>
            </svg>
            <svg width="24" height="24" class="testimonials-icon">
              <use href="/images/sprite.svg#icon-star-fill"></use>
            </svg>
            <svg width="24" height="24" class="testimonials-icon">
              <use href="/images/sprite.svg#icon-star-fill"></use>
            </svg>
            <svg width="24" height="24" class="testimonials-icon">
              <use href="/images/sprite.svg#icon-star-fill"></use>
            </svg>
            <svg width="24" height="24" class="testimonials-icon">
              <use href="/images/sprite.svg#icon-star-fill"></use>
            </svg>
          </div>
          <p class="testimonials-review">
            "The craftsmanship is exquisite, and I feel unique wearing it."
          </p>
          <p class="testimonials-author">Jane Edison</p>
        </div>
        <picture>
          <!-- Desktop -->
          <source
            srcset="
              /images/avif/testimonials/testimonials-3-desktop.avif    1x,
              /images/avif/testimonials/testimonials-3-desktop@2x.avif 2x
            "
            media="(min-width: 1440px)"
            type="image/avif"
          />
          <source
            srcset="
              /images/webp/testimonials/testimonials-3-desktop.webp    1x,
              /images/webp/testimonials/testimonials-3-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="
              /images/jpeg/testimonials/testimonials-3-desktop.jpeg    1x,
              /images/jpeg/testimonials/testimonials-3-desktop@2x.jpeg 2x
            "
            media="(min-width: 1440px)"
          />
          <!-- Tablet -->
          <source
            srcset="
              /images/avif/testimonials/testimonials-3-tablet.avif    1x,
              /images/avif/testimonials/testimonials-3-tablet@2x.avif 2x
            "
            media="(min-width: 768px)"
            type="image/avif"
          />
          <source
            srcset="
              /images/webp/testimonials/testimonials-3-tablet.webp    1x,
              /images/webp/testimonials/testimonials-3-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              /images/jpeg/testimonials/testimonials-3-tablet.jpeg    1x,
              /images/jpeg/testimonials/testimonials-3-tablet@2x.jpeg 2x
            "
            media="(min-width: 768px)"
          />

          <!-- Mobile -->
          <source
            srcset="
              /images/avif/testimonials/testimonials-3-mobile.avif    1x,
              /images/avif/testimonials/testimonials-3-mobile@2x.avif 2x
            "
            media="(max-width: 767px)"
            type="image/avif"
          />
          <source
            srcset="
              /images/webp/testimonials/testimonials-3-mobile.webp    1x,
              /images/webp/testimonials/testimonials-3-mobile@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <img
            srcset="
              /images/jpeg/testimonials/testimonials-3-mobile@2x.jpeg 2x
            "
            src="/images/jpeg/testimonials/testimonials-3-mobile.jpeg"
            alt="photo of a handmade earring"
          />
        </picture>
        <picture>
          <!-- Desktop -->
          <source
            srcset="
              /images/avif/testimonials/testimonials-4-desktop.avif    1x,
              /images/avif/testimonials/testimonials-4-desktop@2x.avif 2x
            "
            media="(min-width: 1440px)"
            type="image/avif"
          />
          <source
            srcset="
              /images/webp/testimonials/testimonials-4-desktop.webp    1x,
              /images/webp/testimonials/testimonials-4-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="
              /images/jpeg/testimonials/testimonials-4-desktop.jpeg    1x,
              /images/jpeg/testimonials/testimonials-4-desktop@2x.jpeg 2x
            "
            media="(min-width: 1440px)"
          />
          <!-- Tablet -->
          <source
            srcset="
              /images/avif/testimonials/testimonials-4-tablet.avif    1x,
              /images/avif/testimonials/testimonials-4-tablet@2x.avif 2x
            "
            media="(min-width: 768px)"
            type="image/avif"
          />
          <source
            srcset="
              /images/webp/testimonials/testimonials-4-tablet.webp    1x,
              /images/webp/testimonials/testimonials-4-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              /images/jpeg/testimonials/testimonials-4-tablet.jpeg    1x,
              /images/jpeg/testimonials/testimonials-4-tablet@2x.jpeg 2x
            "
            media="(min-width: 768px)"
          />

          <!-- Mobile -->
          <source
            srcset="
              /images/avif/testimonials/testimonials-4-mobile.avif    1x,
              /images/avif/testimonials/testimonials-4-mobile@2x.avif 2x
            "
            media="(max-width: 767px)"
            type="image/avif"
          />
          <source
            srcset="
              /images/webp/testimonials/testimonials-4-mobile.webp    1x,
              /images/webp/testimonials/testimonials-4-mobile@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <img
            srcset="
              /images/jpeg/testimonials/testimonials-4-mobile@2x.jpeg 2x
            "
            src="/images/jpeg/testimonials/testimonials-4-mobile.jpeg"
            alt="photo of a handmade earring"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
