<section class="section testimonials-section">
  <div class="container">
    <h2 class="testimonials-title">Customer testimonials</h2>
    <p class="testimonials-text">
      Absolutely love my new earrings! They are stunning.
    </p>
    <ul class="testimonials-list">
      <li class="testimonial-item">
        <picture>
          <!-- Desktop -->
          <source
            srcset="
              ../images/testimonials-1-desctop.jpeg    1x,
              ../images/testimonials-1-desctop@2x.jpeg 2x
            "
            media="(min-width: 1440px)"
          />
          <!-- Tablet -->
          <source
            srcset="
              ../images/testimonials-1-tablet.jpeg    1x,
              ../images/testimonials-1-tablet@2x.jpeg 2x
            "
            media="(min-width: 768px)"
          />
          <!-- Mobile -->
          <img
            srcset="../images/testimonials-1-mobile@2x.jpeg"
            src="../images/testimonials-1-mobile.jpeg"
            alt="photo of a handmade earring"
          />
        </picture>
        <picture>
          <!-- Desktop -->
          <source
            srcset="
              ../images/testimonials-2-desctop.jpeg    1x,
              ../images/testimonials-2-desctop@2x.jpeg 2x
            "
            media="(min-width: 1440px)"
          />
          <!-- Tablet -->
          <source
            srcset="
              ../images/testimonials-2-tablet.jpeg    1x,
              ../images/testimonials-2-tablet@2x.jpeg 2x
            "
            media="(min-width: 768px)"
          />
          <!-- Mobile -->
          <img
            srcset="../images/testimonials-2-mobile@2x.jpeg"
            src="../images/testimonials-2-mobile.jpeg"
            alt="photo of a handmade pendant"
          />
        </picture>
        <div class="testimonials-wrapper">
          <div class="testimonials-stars">
            <svg width="24" height="24" class="testimonials-icon"></svg>
          </div>
          <p class="testimonials-review">
            "Each piece tells a story, and I love mine!"
          </p>
          <p class="testimonials-author">Thomas Mans</p>
        </div>
      </li>
      <li class="testimonial-item">
        <div class="testimonials-wrapper">
          <div class="testimonials-stars">
            <svg width="24" height="24" class="testimonials-icon"></svg>
          </div>
          <p class="testimonials-review">
            "The craftsmanship is exquisite, and I feel unique wearing it."
          </p>
          <p class="testimonials-author">Jane Edison</p>
        </div>
        <picture>
          <!-- Desktop -->
          <source
            srcset="
              ../images/testimonials-3-desctop.jpeg    1x,
              ../images/testimonials-3-desctop@2x.jpeg 2x
            "
            media="(min-width: 1440px)"
          />
          <!-- Tablet -->
          <source
            srcset="
              ../images/testimonials-3-tablet.jpeg    1x,
              ../images/testimonials-3-tablet@2x.jpeg 2x
            "
            media="(min-width: 768px)"
          />
          <!-- Mobile -->
          <img
            srcset="../images/testimonials-3-mobile@2x.jpeg"
            src="../images/testimonials-3-mobile.jpeg"
            alt="photo of a handmade bracelet"
          />
        </picture>
        <picture>
          <!-- Desktop -->
          <source
            srcset="
              ../images/testimonials-4-desctop.jpeg    1x,
              ../images/testimonials-4-desctop@2x.jpeg 2x
            "
            media="(min-width: 1440px)"
          />
          <!-- Tablet -->
          <source
            srcset="
              ../images/testimonials-4-tablet.jpeg    1x,
              ../images/testimonials-4-tablet@2x.jpeg 2x
            "
            media="(min-width: 768px)"
          />
          <!-- Mobile -->
          <img
            srcset="../images/testimonials-4-mobile@2x.jpeg"
            src="../images/testimonials-4-mobile.jpeg"
            alt="photo of a handmade ring"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
